SECRET_KEY=sEcrEt
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,api
DB_NAME=cardio_trace
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432
CACHE_TTL_DEVICE_NOT_FOUND=120
CACHE_TTL_SESSION_NOT_FOUND=30
CACHE_TTL_DEVICE_SESSION_ACTIVE=3600