INNER_API_BASE_URL=http://api:8000
HASURA_GRAPHQL_URL=http://localhost:8080/v1/graphql
AUTH0_DOMAIN=cardio-trace.eu.auth0.com
AUTH0_CLIENT_ID=abcdefg
AUTH0_CLIENT_SECRET=sUpErS3crEt
AUTH0_REDIRECT_URI=http://localhost:8000/auth/callback
AUTH0_AUDIENCE=https://cardio-trace-api
AUTH0_SCOPE=openid profile email offline_access
AUTH0_STATE=1234567890
AUTH0_SECRET=sUpErS3crEt
AUTH0_ISSUER=https://cardio-trace.eu.auth0.com/
AUTH0_DB_CONNECTION=Username-Password-Authentication
AUTH_CALLBACK_SUCCESS_PATH=/docs
AUTH_CALLBACK_ERROR_PATH=/error
CARDIO_TRACE_CLINIC_ID=org_cardio-trace
PATIENT_ROLE_ID=rol_patient
DOCTOR_ROLE_ID=rol_doctor
API_EXPLORER_CLIENT_ID=sUpErS3crEt
API_EXPLORER_CLIENT_SECRET=sUpErS3crEt
FRONTEND_URL=http://localhost:8000
CARDIO_TRACE_APPLICATION_LOGIN_URI=https://cardio-trace.com/login
INVITE_URL_REPLACEMENT=http://localhost:8000/auth/invite-login-url
RBAC_ENFORCEMENT_MODE=enforce